<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form action="" (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">

    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nombre de la persona" [(ngModel)]="persona.nombre" name="nombre" required>
            <!-- hay que colocar el required para que sirva el invalid -->
            <span *ngIf="ErrorNombre()" class="form-text text-danger">
            Campo Obligatorio
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Agregar favorito" [(ngModel)]="nuevojuego" name="nuevojuego" (keyup.enter)="agregar()">
                <button class="btn btn-outline-primary" type="button" (click)="agregar()">Agregar</button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group my-2" *ngFor="let favorito of persona.favoritos; let i=index">
                <input type="text" [(ngModel)]="favorito.nombre" name="favorito_{{i}}" class="form-control" required>
                <!-- name="favorito" si dejamos el name de esta manera se va duplicar el nombre del juego y esa no es la idea -->
                <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">X</button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-dark float-end" (click)="guardar()" [disabled]="miFormulario.invalid">Guardar</button>
        </div>
    </div>

</form>

<span>Form Data Persona</span>
<pre>{{persona | json}}</pre>